@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin:0;
    font-family:'poppins';
}

a{
    text-decoration: none;
    color:black;
}

.navbar{
    background: color #f3f3f3 ;
    padding-inline-start : 2.5em;
    padding-block: 1em;
   
}

.logo{
  
   font-weight: bold;  
   font-size: 3em; 
}
span{
    color:#02B6C4;
}
.lilnavbar{
    display: flex;
    place-content: space-between ;
    size:auto ;
}
.navbuttons{
    display: flex;
    place-content:space-between ;
    padding-inline: 1.5em;
    padding-block: .8em;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.post{
    background-color: #02B6C4;
    padding-inline: 1.5em;
    padding-block: .8em;
    border-radius: 5em;
    display: inline-block;
    margin-inline : 1em;
   
}




.find{
    background-color: #FCAB42;
    padding-inline: 1.5em;
    padding-block: .8em;
    border-radius: 5em;
    display: inline-block;
    margin-inline : 1em;
}

.signin{
    background-color: transparent;
    border:1px solid black;
    padding-inline: 1.5em;
    padding-block: .8em;
    border-radius: 5em;
    display: inline-block;
    margin-inline : 1em;
}

.main{
    background-image: url("carpooll.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}

form{
    padding-top: 120px;
    margin-left: 340px;
}

.buttons{
    padding-top: 1.2em;
    margin-left: 900px;
}

.find1{
    background-color: #FCAB42;
    padding-inline: 1.5em;
    padding-block: .8em;
    border-radius: 5em;
    display: inline-block;
    margin-bottom: 7cm;
    margin-left: 1em ;
}


input{
    border-radius: 5em;
    padding-block: 1em;
    opacity: 0.5;
}

input:hover{
    opacity: 0.9;
}


.from,.to{
    background-image: url("location.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right;
}

.passengers{
    width: 1.5em;
    background-image: url("passenger.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position : 2.7em;
    background-position-y: center;
    padding-inline: 1.5em;
}


